<a href="https://colab.research.google.com/github/aditheyanns-png/resume/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/fraudTest.csv")
df

,,,,,,,,,,,,,,,,,,dc5dca5,1378021285,46.885408,-97.023257,0
205657,2020-09-01 07:41:38,2720012583106919,fraud_Bauch-Raynor,grocery_pos,124.98,Joseph,Murray,M,42933 Ryan Underpass,Manderson,SD,57756,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,7f6846ccbf6e3809aaa7fa8f29430dcb,1378021298,42.470938,-101.802394,0.0
205658,2020-09-01 07:41:41,6011626928491360,"fraud_Casper, Hand and Zulauf",grocery_pos,79.05,Heather,Roberts,F,62934 Maria Cliffs Suite 350,Bethel Springs,TN,38315,35.2289,-88.6440,3876,Senior tax professional/tax inspector,1960-11-19,9b7d7e452d602551257a38c3555db738,1378021301,34.364444,-88.495850,0.0
205659,2020-09-01 07:41:53,180042946491150,fraud_Smitham-Boehm,grocery_net,68.45,Charles,Robles,M,3337 Lisa Divide,Saint Petersburg,FL,33710,27.7898,-82.7243,341043,"Engineer, land",1989-02-28,0562783f370dfa17c783f9214ccc4cca,1378021313,27.525421,-82.890134,0.0
205660,2020-09-01 07:42:11,4302480582202074,fraud_Skiles-Ankunding,grocery_net,77.17,David,Rodriguez,M,821 Solis Points,Muskegon,MI,49440,43.2326,-86.2492,128715,Historic buildings inspector/conservation officer,1995-05-25,f48c42f0e25f55f9f22a24666b4e7d11,1378021331,42.404912,-85.667999,0.0
205661,2020-09-01 07:42:32,3563837241599446,"fraud_Lind, Huel and McClure",gas_transport,59.10,Timothy,Simmons,M,1049 John Ports Suite 057,Newberg,OR,97132,45.3099,-122.9685,28278,Research scientist (physical sciences),1977-07-17,a4da7e8dab6ccbe8c5eea823a3bbfc5b,1378021352,46.181213,-122.962195,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263742,2020-09-27 00:34:30,3560725013359375,"fraud_Little, Gutmann and Lynch",shopping_net,6.59,Brooke,Smith,F,63542 Luna Brook Apt. 012,Notrees,TX,79759,31.8599,-102.7413,23,Cytogeneticist,1969-09-15,33c348dafce892c279a2c664bad3f56d,1380242070,31.859897,-103.472216,0.0
263743,2020-09-27 00:34:40,3511058278399773,fraud_Koepp-Witting,grocery_pos,160.17,Briana,Santos,F,702 Tabitha Drive,New Goshen,IN,47863,39.5803,-87.4616,205,"Engineer, mining",1960-01-06,d81b387bd4688533b6fb96ac73e8d574,1380242080,39.108244,-86.572022,0.0
263744,2020-09-27 00:34:46,4658490815480264,fraud_Medhurst PLC,shopping_net,287.41,Tara,Richards,F,4879 Cristina Station,Keisterville,PA,15449,39.9636,-79.7853,184,Systems developer,1945-11-04,44587d9e78364d6c2c634f46fdb19532,1380242086,40.448721,-79.414603,0.0
263745,2020-09-27 00:35:35,4079773899158,"fraud_Quitzon, Green and Bashirian",shopping_pos,246.37,Eric,Preston,M,7020 Doyle Stream Apt. 951,Mesa,ID,83643,44.6255,-116.4493,129,Cartographer,1965-12-15,d0371c99c6b26f7dd74f2a4b40abae8b,1380242135,45.192953,-115.629573,0.0
263746,2020-09-27 00:36:11,4464457352619,fraud_Spinka Inc,grocery_net,56.65,Breanna,Rodriguez,F,118 Cabrera Springs Apt. 105,Lanark Village,FL,32323,29.8826,-84.5964,217,Television production assistant,1990-01-24,cac18fec656bc5e43aeeff285f15de0a,1380242171,30.184804,NaN,NaN

In [ ]:
df=pd.read_csv("/content/fraudTrain.csv")
df

,0:41,5559857416065248,fraud_Terry-Huel,shopping_net,1.63,Jack,Hill,M,5916 Susan Bridge Apt. 939,Grenada,...,41.6125,-122.5258,589,Systems analyst,1945-12-21,53a49f412492a47c420b7d288747e548,1334818241,41.921690999999996,-121.658643,0
213447,2019-04-19 06:50:59,4.922711e+15,fraud_Kassulke PLC,shopping_net,5.81,Heather,Chase,F,6888 Hicks Stream Suite 954,Manor,...,40.3359,-79.6607,1472.0,Public affairs consultant,1941-03-07,268dab22c2a4a5420710a27b1e73ab7e,1.334818e+09,41.319753,-79.456867,0.0
213448,2019-04-19 06:52:27,3.615388e+13,fraud_Brekke and Sons,gas_transport,67.49,Erik,Stevens,M,84033 Pitts Overpass,Lakeland,...,28.1762,-81.9591,237282.0,Plant breeder/geneticist,1949-10-13,e2ff520280e16401212316b115df1337,1.334818e+09,29.097793,-81.006689,0.0
213449,2019-04-19 06:53:10,4.736845e+18,fraud_Erdman-Kertzmann,gas_transport,44.59,Toni,Gomez,F,062 Carl Dam,Altona,...,44.8816,-73.6408,2148.0,"Surveyor, land/geomatics",1953-05-23,7e486c9fc7e355edfc9e2fcd1912a374,1.334818e+09,45.438384,-73.797702,0.0
213450,2019-04-19 06:54:17,2.131936e+14,"fraud_Goldner, Kovacek and Abbott",grocery_pos,97.49,James,Hunt,M,7369 Gabriel Tunnel,Pointe Aux Pins,...,45.7549,-84.4470,95.0,Electrical engineer,1994-02-09,41b417ad081aa9e3c6786824a037b258,1.334818e+09,44.857858,-84.602454,0.0
213451,2019-04-19 06:55:15,4.642255e+15,fraud_Huels-Nolan,gas_transport,39.29,Sabrina,Johnson,F,320 Nicholson Orchard,Thompson,...,38.9999,-109.6150,46.0,"Surveyor, minerals",1987-04-23,aa60a8e4950876752d31e72e14525879,1.334819e+09,39.127035,-110.369712,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275402,2019-05-16 13:29:05,3.725200e+14,fraud_Abernathy and Sons,food_dining,7.27,Lori,Ramirez,F,4293 Ramirez Squares,Ranier,...,48.6031,-93.2977,136.0,Ceramics designer,2000-02-20,99995328c99c8fd93d8f986f7733f9d8,1.337175e+09,49.552301,-93.078570,0.0
275403,2019-05-16 13:29:14,4.239436e+12,fraud_Gibson-Deckow,entertainment,28.01,James,Leon,M,826 Benjamin Stravenue,Alexandria,...,38.8320,-77.1200,321490.0,"Scientist, biomedical",1991-10-04,c0f833e0b102fcbd1025f6dbedef5252,1.337175e+09,37.934664,-76.873993,0.0
275404,2019-05-16 13:33:30,6.304250e+11,fraud_Dooley Inc,shopping_pos,3.36,Jennifer,Black,F,2870 Bean Terrace Apt. 756,Thomas,...,39.1505,-79.5030,836.0,Forensic psychologist,1981-08-29,be61ee0239a2f3008d0923471c016ace,1.337175e+09,40.137135,-80.045833,0.0
275405,2019-05-16 13:33:37,3.027043e+13,fraud_Jakubowski Inc,home,116.75,Lisa,Lin,F,908 Brooks Brook,Lomax,...,40.6761,-91.0391,725.0,Environmental consultant,1972-11-28,3cf5cf675f71f6428c98d92d1bc1b6a5,1.337175e+09,41.012404,-91.192919,0.0
275406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().any()

0:41                                True
5559857416065248                    True
fraud_Terry-Huel                    True
shopping_net                        True
1.63                                True
Jack                                True
Hill                                True
M                                   True
5916 Susan Bridge Apt. 939          True
Grenada                             True
CA                                  True
96038                               True
41.6125                             True
-122.5258                           True
589                                 True
Systems analyst                     True
1945-12-21                          True
53a49f412492a47c420b7d288747e548    True
1334818241                          True
41.921690999999996                  True
-121.658643                         True
0                                   True
dtype: bool

In [ ]:
df.dtypes

0:41                                 object
5559857416065248                    float64
fraud_Terry-Huel                     object
shopping_net                         object
1.63                                float64
Jack                                 object
Hill                                 object
M                                    object
5916 Susan Bridge Apt. 939           object
Grenada                              object
CA                                   object
96038                               float64
41.6125                             float64
-122.5258                           float64
589                                 float64
Systems analyst                      object
1945-12-21                           object
53a49f412492a47c420b7d288747e548     object
1334818241                          float64
41.921690999999996                  float64
-121.658643                         float64
0                                   float64
dtype: object